.contactUs {
	//이미지 마우스 따라 움직이기
	width: 100%;
	position: relative;
	overflow: hidden;
	background: basicColor1;
	cursor: default;
	.sub_Visual {
		width: 100%;
		height: 450px;
		background: url('../img/gallery_visual.jpg') no-repeat center/cover;
		filter: saturate(30%) brightness(90%);
		transition: 1s;
		> .inner {
			.visual_box {
				#daumRoughmapContainer1675254631328 {
					opacity: 0;
					height: 0;
					position: absolute;
					top: 0;
					left: 0;
					&.on {
						opacity: 1;
						height: 100%;
					}
				}
				.root_daum_roughmap .wrap_controllers {
					display: none;
				}
			}
		}
		&:hover {
			filter: saturate(100%) brightness(100%);
		}
		&.on {
			padding: 0;
		}
	}
	.txt {
		background: $basicColor2;
		padding: 20px 50px;
		color: $basicFontColor;
	}
	.sub_con {
		background: $basicColor2;
		padding: 30px 0;
		> .inner {
			// background: $strongColor;
			opacity: 0.7;
			// color: #fff;
			@include innerWid;
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			align-items: center;
			// align-items: baseline;
			// flex-direction: column;
			// padding: 50px;
			> div {
				display: flex;
				&:first-child {
					margin-top: 10px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				h2 {
					color: #222;
					margin-right: 30px;
				}
				// padding: 30px;
				.contactUs {
					//이미지 마우스 따라 움직이기
					width: 100%;
					position: relative;
					padding-top: 60px;
					overflow: hidden;
					background: basicColor1;
					cursor: default;
					.sub_Visual {
						width: 100%;
						height: 450px;
						transition: 1s;
						filter: saturate(30%) brightness(90%);
						.visual_box {
							background: url('../img/sub/map.jpg') no-repeat center/cover;
							@include subVisual;
							&.on {
								padding: 0;
							}
							> h1 {
								@include subCom_h1;
								&::before {
									@include subCom_bf;
								}
							}
							p {
								@include subCom_p;
							}
							#daumRoughmapContainer1675166820568 {
								opacity: 0;
								height: 0;
								position: absolute;
								top: 0;
								left: 0;
								&.on {
									opacity: 1;
									height: 100%;
								}
							}
							.root_daum_roughmap .wrap_controllers {
								display: none;
							}
						}
						&:hover {
							filter: saturate(100%) brightness(100%);
							padding: 0;
							transition: 0s;
						}
					}
					.txt {
						background: $basicColor2;
						padding: 20px 50px;
						color: $basicFontColor;
					}
				}
			}
		}
	}
}

#footer.contactft {
	.inner {
		.wrap {
			padding: 50px;
			article.map {
				> a {
					position: relative;
					> i.dot {
						position: absolute;
						top: -10px;
						right: 47%;
						color: $strongColor;
						// opacity: 0.7;
						// color: blue;
						font-size: 10px;
						animation: map 1s linear infinite;
					}
				}
			}
		}
	}
}

@keyframes map {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-8px);
	}
	100% {
		transform: translateY(0);
	}
}
