.gallery {
	.visual_box {
		position: relative;
		background: url('../img/sub/visual/gallery.jpg') no-repeat center/cover;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.sub_con {
		.inner {
			display: block;
			opacity: 1;
			#gallery {
				#searchBox {
					width: 100%;
					font-size: 0;
					text-align: right;
					input[type='text'] {
						width: 300px;
						height: 35px;
						outline: none;
						background: $basicColor1;
						padding-left: 15px;
						border: none;
						&::placeholder {
							color: #aaa;
							font-size: 12px;
						}
						&:focus {
							background: #eee;
						}
					}
					.btn {
						width: 80px;
						height: 35px;
						background: $basicColor2;
						font-size: 12px;
						font-family: $contentFont;
						cursor: pointer;
						margin-left: 15px;
						border: none;
						letter-spacing: 0.5px;
						background: $mainBg;
						vertical-align: top;
						transition: 0.5s;
						&:hover {
							background: $strongColor;
							color: #fff;
						}
					}
				}
				#wrap {
					width: 100%;
					.loading {
						position: relative;
						top: -120px;
						left: 44%;
						// transform: translate(-50%);
						transition: 1s;
						opacity: 1;
						&.off {
							opacity: 0;
						}
					}
					#list {
						width: 100%;
						opacity: 1;
						transform: translateY(190px);
						transition: 1s;
						&.on {
							opacity: 1;
							transform: translateY(-30px);
						}
						&::after {
							content: '';
							display: block;
							clear: both;
						}
						li {
							width: calc(100% / 4);
							float: left;
							padding: 10px;
							transition: 0.5s;
							div {
								width: 100%;
								padding: 20px;
								box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
								border-radius: 5px;
								overflow: hidden;
								transition: 0.5s;
								a {
									height: 100%;
									> img {
										@include imgFit;
										transition: 1s;
										filter: saturate(30%) brightness(70%);
										&:hover {
											filter: saturate(100%) brightness(100%);
										}
									}
								}
								p {
									font: 13px/1.2 $contentFont;
									color: $basicFontColor;
									margin-top: 10px;
									margin-bottom: 10px;
									height: 30px;

									text-align: center;
									word-break: keep-all;

									overflow: hidden;
									text-overflow: ellipsis;

									display: -webkit-box;
									-webkit-line-clamp: 3;
									-webkit-box-orient: vertical;
								}
								&:hover {
									transform: scale(1.06);
									box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
									background: rgba($strongColor, 0.5);
								}
							}
						}
					}
				}
				aside {
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100vh;
					background: rgba(0, 0, 0, 0.8);
					// padding: 9vw;
					z-index: 2;
					display: flex;
					justify-content: center;
					align-items: center;
					.imgCont {
						// position: absolute;
						// top: 0;
						// left: 27%;
						// transform: translate(-50%, -50%);
						// position: relative;
						// padding-bottom: 56.25%;
						img {
							height: 100%;
							// position: absolute;
							// top: 0;
							// left: 0;
							// @include imgFit;
						}
						.close {
							position: absolute;
							top: 20px;
							right: 48px;
							cursor: pointer;
							display: block;
							opacity: 0.7;
							i {
								font-size: 35px;
								color: #fff;
							}
						}
					}
				}
				&.hidden {
					display: none;
				}
			}
		}
	}
}

//tablet
@media screen and (max-width: $tablet) {
	.gallery {
		.sub_con {
			.inner {
				#gallery {
					#wrap {
						#list {
							padding: 0;
							li {
								width: calc(100% / 3);
								padding: 10px 10px 25px;
								// &:nth-of-type(1) {
								// 	div {
								// 		height: 35vmax;
								// 	}
								// }
								// &:nth-of-type(2) {
								// 	div {
								// 		height: 25vmax;
								// 	}
								// }
								// &:nth-of-type(3) {
								// 	div {
								// 		height: 35vmax;
								// 	}
								// }
								// &:nth-of-type(4) {
								// 	div {
								// 		height: 25vmax;
								// 	}
								// }
								// &:nth-of-type(5) {
								// 	div {
								// 		height: 30vmax;
								// 	}
								// }
								// &:nth-of-type(6) {
								// 	div {
								// 		height: 40vmax;
								// 	}
								// }
								// &:nth-of-type(7) {
								// 	div {
								// 		height: 30vmax;
								// 	}
								// }
								// &:nth-of-type(8) {
								// 	div {
								// 		height: 30vmax;
								// 	}
								// }
								// &:nth-of-type(9) {
								// 	div {
								// 		height: 35vmax;
								// 	}
								// }
								// &:nth-of-type(10) {
								// 	div {
								// 		height: 35vmax;
								// 	}
								// }
							}
						}
					}
					aside {
						padding: 9vw;
						.imgCont {
							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
//mobile
@media screen and (max-width: $mobile) {
	.gallery {
		.sub_con {
			.inner {
				#gallery {
					#wrap {
						#list {
							li {
								width: 100%;
								&:nth-of-type(1) {
									div {
										height: 55vmax;
									}
								}
								&:nth-of-type(2) {
									div {
										height: 35vmax;
									}
								}
								&:nth-of-type(3) {
									div {
										height: 25vmax;
									}
								}
								&:nth-of-type(4) {
									div {
										height: 25vmax;
									}
								}
								&:nth-of-type(5) {
									div {
										height: 30vmax;
									}
								}
								&:nth-of-type(6) {
									div {
										height: 205max;
									}
								}
								&:nth-of-type(7) {
									div {
										height: 20vmax;
									}
								}
								&:nth-of-type(8) {
									div {
										height: 30vmax;
									}
								}
								&:nth-of-type(9) {
									div {
										height: 35vmax;
									}
								}
								&:nth-of-type(10) {
									div {
										height: 35vmax;
									}
								}
							}
						}
					}
					aside {
						.imgCont {
							.close {
								top: 20px;
								right: 20px;
								i {
									font-size: 50px;
								}
							}
						}
					}
				}
			}
		}
	}
}
