.gallery {
	.visual_box {
		position: relative;
		background: url('../img/sub/visual/gallery.jpg') no-repeat bottom/cover;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.sub_con {
		.inner {
			display: block;
			opacity: 1;
			> h1 {
				opacity: 0.7;
				margin-bottom: 50px;
			}
			> h2 {
				color: $strongColor;
				margin-bottom: 20px;
				font-family: $contentFont;
				span {
					font-size: 16px;
					color: $basicFontColor;
					margin-left: 20px;
				}
				.new {
					margin-top: 30px;
				}
			}
			h2.new {
				margin-top: 50px;
			}
			.vids {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: flex-start;
				padding-bottom: 80px;
				border-bottom: 1px dashed $basicFontColor;
				article {
					width: calc((100% - 40px) / 3);
					margin-bottom: 25px;
					border-radius: 30px 30px 15px 15px;
					background: $mainBg;
					overflow: hidden;
					.pic {
						display: block;
						width: 100%;
						height: 55%;
						filter: saturate(30%) brightness(90%);
						transition: 0.5s;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						&:hover {
							filter: saturate(100%) brightness(100%);
						}
					}
					.con {
						width: 100%;
						height: auto;
						padding: 20px;
						opacity: 0.7;
						h2 {
							font-size: 22px;
							font-family: $titleFont;
							margin-bottom: 30px;
						}
						p {
							font-size: 18px;
							font-weight: bold;
							line-height: 1.5;
							font-family: $titleFont;
							margin-bottom: 20px;
						}
						span {
							font-size: 15px;
							text-align: right;
							display: block;
							color: $strongColor;
							font-weight: bold;
							font-family: $contentFont;
						}
					}
				}
			}
			// .new {
			// 	margin-top: 50px;
			// }
			// .new_arrival,
			// .popular {
			// 	.wrap {
			// 		display: flex;
			// 		flex-wrap: wrap;
			// 		justify-content: space-between;
			// 		article {
			// 			position: relative;
			// 			background: $mainBg;
			// 			width: calc((100% - 40px) / 3);
			// 			height: 100%;
			// 			margin-bottom: 25px;
			// 			border-radius: 30px 30px 15px 15px;
			// 			// border-radius: 200px 200px 15px 15px;
			// 			overflow: hidden;
			// 			box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px,
			// 				rgba(0, 0, 0, 0.11) 0px 4px 20px;
			// 			filter: saturate(30%) brightness(90%);
			// 			transition: 0.5s;
			// 			&:hover {
			// 				filter: saturate(100%) brightness(100%);
			// 			}
			// 			.pic {
			// 				height: 380px;
			// 				background: pink;
			// 				img {
			// 					@include imgFit;
			// 				}
			// 			}
			// 			.pic_txt {
			// 				position: absolute;
			// 				bottom: 0;
			// 				left: 0;
			// 				width: 100%;
			// 				height: auto;
			// 				text-align: center;
			// 				// transform: translateX(-50%);
			// 				padding: 30px;
			// 				text-shadow: 2px 2px 12px rgb(0, 0, 0, 0.7);
			// 				color: #fff;
			// 				h1 {
			// 					font-size: 40px;
			// 					letter-spacing: 1px;
			// 				}
			// 				span {
			// 					line-height: 1.3;
			// 					position: relative;
			// 					display: inline-flex;
			// 					text-align: left;
			// 					// &::after {
			// 					// 	content: '';
			// 					// 	display: block;
			// 					// 	width: 30px;
			// 					// 	height: 1px;
			// 					// 	position: absolute;
			// 					// 	bottom: 5px;
			// 					// 	right: -35px;
			// 					// 	background: #222;
			// 					// }
			// 				}
			// 			}
			// 			&.second {
			// 				// margin-top: -100px;
			// 				.pic {
			// 					display: none;
			// 					width: 100%;
			// 					&.on {
			// 						display: block;
			// 					}
			// 					img {
			// 						@include imgFit;
			// 					}
			// 				}
			// 				.pic_txt {
			// 					.colorBtn {
			// 						display: flex;
			// 						justify-content: center;
			// 						margin-top: 30px;
			// 						a {
			// 							width: 20px;
			// 							height: 20px;
			// 							margin-right: 10px;
			// 							text-align: center;
			// 							// border: 1px solid #777;
			// 							border-radius: 50%;
			// 							&.on {
			// 								border: 2px solid #777;
			// 							}
			// 							&:nth-of-type(1) {
			// 								background: $strongColor;
			// 							}
			// 							&:nth-of-type(2) {
			// 								background: $mainBg;
			// 							}
			// 							&:nth-of-type(3) {
			// 								background: #ffadad;
			// 							}
			// 							&:nth-of-type(4) {
			// 								background: #5fb0fa;
			// 							}
			// 							&:nth-of-type(5) {
			// 								background: #696c70;
			// 							}
			// 							&:nth-of-type(6) {
			// 								background: #d8b28a;
			// 							}
			// 						}
			// 					}
			// 					i {
			// 						cursor: pointer;
			// 					}
			// 				}
			// 			}
			// 			&:last-child {
			// 				margin-right: 0;
			// 			}
			// 		}
			// 	}
			// }
			#gallery {
				#wrap {
					width: 100%;
					#list {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						width: 100%;
						opacity: 1;
						transition: 0.5s;
						&.on {
							opacity: 1;
						}
						li {
							width: calc((100% - 100px) / 6);
							div {
								width: 100%;
								height: 100%;
								border-radius: 10px;
								background: #fff;
								margin-bottom: 20px;
								overflow: hidden;
								box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
								a {
									display: block;
									height: 300px;
									transition: 0.5s;
									overflow: hidden;
									filter: grayscale(100%);
									> img {
										width: 100%;
										height: 100%;
										transition: 1s;
										object-fit: cover;
										overflow: hidden;
										&:hover {
											box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
											transform: scale(1.07);
										}
									}
									&:hover {
										filter: grayscale(0%);
									}
								}
								p {
									padding: 20px 20px 0;
									color: $basicFontColor;
									text-align: center;
									font: 16px/1.5 $contentFont;
									word-break: keep-all;

									overflow: hidden;
									text-overflow: ellipsis;

									display: -webkit-box;
									-webkit-line-clamp: 2;
									-webkit-box-orient: vertical;
								}
							}
						}
					}
				}
			}
		}
	}
}

// figure {
// 	position: relative;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// 	padding-bottom: 56.25%;
// 	width: 100px;
// 	height: 100%;
// 	background: rgba(0, 0, 0, 0.8);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	overflow: hidden;
// 	z-index: 2;
// 	&.popup {
// 	width: 100%;
// 	height: 100vh;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	background: rgba(0, 0, 0, 0.8);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	padding: 5vw;
// 	overflow: hidden;
// 	z-index: 2;
// 		.closeBtn {
// 			top: 35px;
// 			right: 35px;
// 		}
// 	}
// 	iframe{
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 	}
// }
figure.popup {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5vw;
	overflow: hidden;
	z-index: 2;
	.closeBtn {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		display: block;
		opacity: 0.7;
		i {
			font-size: 35px;
			color: #fff;
		}
	}
}
//tablet
@media screen and (max-width: $tablet) {
	.gallery {
		.sub_con {
			.inner {
				.vids {
					article {
						width: calc((100% - 40px) / 2);
						height: 100%;
						.con {
							h2 {
								margin-bottom: 20px;
								font-size: 3vmin;

								overflow: hidden;
								text-overflow: ellipsis;

								display: -webkit-box;
								-webkit-line-clamp: 1;
								-webkit-box-orient: vertical;
							}
							p {
								font-size: 2vw;
								word-break: keep-all;

								overflow: hidden;
								text-overflow: ellipsis;

								display: -webkit-box;
								-webkit-line-clamp: 1;
								-webkit-box-orient: vertical;
							}
							span {
								font-size: 16px;
							}
						}
					}
				}
				#gallery {
					#wrap {
						#list {
							padding: 0;
							li {
								width: calc((100% - 40px) / 3);
								margin-bottom: 20px;
								div {
									a {
										display: block;
										width: 30vw;
										height: 25vw;
										// height: 300px;
										transition: 0.5s;
										overflow: hidden;
										filter: grayscale(100%);
										> img {
											width: 100%;
											height: 100%;
											transition: 1s;
											object-fit: cover;
											overflow: hidden;
											&:hover {
												box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
												transform: scale(1.07);
											}
										}
										&:hover {
											filter: grayscale(0%);
										}
									}
									p {
										padding: 20px 20px 0;
										color: $basicFontColor;
										text-align: center;
										font: 16px/1.5 $contentFont;
										word-break: keep-all;

										overflow: hidden;
										text-overflow: ellipsis;

										display: -webkit-box;
										-webkit-line-clamp: 2;
										-webkit-box-orient: vertical;
									}
								}
							}
						}
					}
				}
				// .new_arrival,
				// .popular {
				// 	.wrap {
				// 		article {
				// 			width: calc((100% - 40px) / 2);
				// 			.pic_txt {
				// 				h1 {
				// 					font-size: 6vmin;
				// 				}
				// 				span {
				// 					font-size: 3vmin;
				// 				}
				// 			}
				// 		}
				// 	}
				// }
			}
		}
	}

	figure.popup {
		padding: 15vw 9vw;
		.closeBtn {
			top: 35px;
			right: 35px;
		}
	}
}

//mobile
@media screen and (max-width: $mobile) {
	.gallery {
		.sub_con {
			.inner {
				.vids {
					article {
						width: 100%;
						margin-bottom: 30px;
						.con {
							h2 {
								font-size: 5vmin;
							}
							p {
								font-size: 17px;
								-webkit-line-clamp: 2;
							}
							span {
								font-size: 16px;
							}
						}
					}
				}
				#gallery {
					#wrap {
						#list {
							padding: 0;
							li {
								width: 100%;
								margin-bottom: 0;
								div {
									display: flex;
									align-items: center;
									height: 28vmin;
									a{
										height: 100%;
									}
									p {
										width: 200px;
										font: 16px/1.5 $contentFont;
										-webkit-line-clamp: 1;
										padding: 0 0 0 20px;
									}
								}
							}
						}
					}
				}
				// .new_arrival {
				// 	.wrap {
				// 		article {
				// 			width: 100%;
				// 			.pic_txt {
				// 				h1 {
				// 					font-size: 9vmin;
				// 				}
				// 				span {
				// 					font-size: 4vmin;
				// 				}
				// 			}
				// 			&.second {
				// 				.pic_txt {
				// 					.colorBtn {
				// 						justify-content: center;
				// 					}
				// 				}
				// 			}
				// 		}
				// 	}
				// }
			}
		}
	}

	figure.popup {
		padding: 58% 9vw;
		.closeBtn {
			top: 120px;
			right: 45%;
		}
	}
}
