.mypage {
	.visual_box {
		background: url('../img/sub/mypage.jpg') no-repeat;
		background-size: cover;
		background-position: center 73%;
	}
	.sub_con {
		> .inner {
			display: block;
			justify-content: space-around;
			form {
				display: flex;
				background: rgba($strongColor, 0.2);
				padding: 50px;
				table {
					width: calc(100% / 2);
					height: 400px;
					margin-right: 50px;
					&:first-child {
						td {
							width: 80%;
						}
					}
					&:last-child {
						margin-right: 0;
						label[for='simple'],
						label[for='mono'],
						label[for='fancy'],
						label[for='trendy'] {
							line-height: 2;
						}
						tr:nth-of-type(3) {
							td {
								padding: 30px 0;
							}
						}
						tr:last-child {
							th {
								margin-top: 50px;
							}
						}
					}
					th {
						font-size: 18px;
						width: 20%;
						white-space: nowrap;
						&:last-child {
							padding: 50px 0 0;
							text-align: right;
							input[type='reset'] {
								margin-right: 17px;
							}
						}
					}
					th,
					td {
						padding: 15px 0;
					}
					td {
						display: block;
						margin-left: 44px;
						border-bottom: 1px solid #222;
					}
					tr:nth-of-type(5) {
						td {
							border-bottom: 0;
						}
					}
					label {
						font-family: $contentFont;
					}

					input::placeholder,
					textarea::placeholder {
						opacity: 0.6;
						font-family: $contentFont;
					}
					input[type='text'],
					input[type='password'],
					select,
					textarea {
						width: 100%;
						padding: 15px;
						outline: none;
						border: none;
						font-size: 14px;
						background: $mainBg;
						font-family: $contentFont;
					}
					textarea {
						resize: none;
						height: 150px;
					}
					input[type='radio'],
					input[type='checkbox'] {
						appearance: block;
						vertical-align: middle;
						width: 20px;
						height: 20px;
						background: $mainBg;
						outline: none;
						margin-right: 5px;
						margin-left: 20px;
						border: none;
						td {
							padding: 27px 0;
						}
						&:first-child {
							margin-left: 0;
						}
						&:nth-of-type(3) {
							margin-left: 0;
						}
						&:nth-of-type(4) {
							margin-left: 29px;
						}
					}
					input[type='radio']:checked,
					input[type='checkbox']:checked {
						accent-color: $strongColor;
					}

					input[type='reset'],
					input[type='submit'] {
						padding: 15px;
						border: none;
						cursor: pointer;
						transition: 0.5s;
						font-family: $titleFont;
						font-size: 14px;
						width: 152px;
						box-shadow: 5px 3px 6px rgba(0,0,0,.2);
						// box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 2px 0px inset, rgba(0, 0, 0, .2) 0px 0px 2px 1px,
						// 	rgba(0, 0, 0, 0.11) 0px 4px 20px;
						&:hover {
							background: $strongColor;
							color: #fff;
						}
					}
					p {
						font-size: 12px;
						margin-top: 5px;
						color: #ff1d5c;
						letter-spacing: -0.4px;
					}
				}
			}
		}
	}
}
