.notice {
	.visual_box {
		background: url('../img/sub/visual/brand.jpg') no-repeat center/cover;
	}
	.sub_con {
		height: 1150px;
		> .inner {
			display: block;
			height: 100%;
			.wrap {
				height: 600px;
				article {
					display: none;
					width: 100%;
					table {
						width: 100%;
						color: #222;
						border-collapse: separate;
						border-spacing: 0 10px;
						text-align: center;
						tbody {
							margin-top: 15px;
							> tr {
								height: 20px;
							}
							tr:nth-of-type(2) td:first-child,
							tr:nth-of-type(3) td:first-child,
							tr:nth-of-type(4) td:first-child,
							tr:nth-of-type(5) td:first-child,
							tr:nth-of-type(6) td:first-child,
							tr:nth-of-type(7) td:first-child,
							tr:nth-of-type(8) td:first-child,
							tr:nth-of-type(9) td:first-child {
								background: #bbb;
								position: relative;
								color: #222;
								font-weight: bold;
								font-size: 16px;
							}

							tr {
								border-collapse: separate;
								border-spacing: 0 10px;
								border: 1px solid #333;
								// background: $mainBg;
								&:hover td:first-child {
									background: $strongColor;
									color: #fff;
								}
								&:hover {
									box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
									transform: scale(1.03);
									transition: 0.3s;
								}
							}
						}
						th {
							padding: 10px;
							border-bottom: 1px solid #111;
							font-size: 18px;
							&:nth-of-type(1) {
								width: 10%;
							}
							&:nth-of-type(3),
							&:nth-of-type(4) {
								width: 15%;
							}
						}
						td {
							color: $basicFontColor;
							border: none;
							padding: 20px;
							cursor: pointer;
							font-size: 14px;
							&:nth-of-type(2) {
								text-align: left;
								font-size: 16px;
							}
						}
					}
					&.on {
						display: block;
					}
				}
				.pagination {
					display: flex;
					justify-content: space-between;
					text-align: center;
					margin-top: 50px;
					font-size: 0;
					width: 100%;
					i {
						font-size: 20px;
						border-width: 2px;
						pointer-events: none;
					}
					.num {
						cursor: pointer;
						a {
							display: inline-block;
							width: 30px;
							height: 30px;
							border: 1px solid #777;
							line-height: 30px;
							font-size: 14px;
							margin-right: 15px;
							&.on {
								background: #000;
								color: #fff;
								border: none;
							}
						}
					}
				}
			}
		}
	}
}

//tablet
@media screen and (max-width: $tablet) {
	.notice {
		.sub_con {
			> .inner {
				.wrap {
					article {
						table {
							table-layout: fixed;
							tbody {
								tr:nth-of-type(2) td:first-child,
								tr:nth-of-type(3) td:first-child,
								tr:nth-of-type(4) td:first-child,
								tr:nth-of-type(5) td:first-child,
								tr:nth-of-type(6) td:first-child,
								tr:nth-of-type(7) td:first-child,
								tr:nth-of-type(8) td:first-child,
								tr:nth-of-type(9) td:first-child {
									padding: 0;
								}
								tr:nth-of-type(2) td:last-child,
								tr:nth-of-type(3) td:last-child,
								tr:nth-of-type(4) td:last-child,
								tr:nth-of-type(5) td:last-child,
								tr:nth-of-type(6) td:last-child,
								tr:nth-of-type(7) td:last-child,
								tr:nth-of-type(8) td:last-child,
								tr:nth-of-type(9) td:last-child {
									font-size: 12px;
									padding: 0 5px 0;
								}
							}
							td {
								text-overflow: ellipsis;
								white-space: nowrap;
								overflow: hidden;
							}
							th {
								font-size: 3vmin;
							}
						}
					}
					.pagination {
						align-items: center;
					}
				}
			}
		}
	}
}

//mobile
@media screen and (max-width: $mobile) {
	.notice {
		.sub_con {
			> .inner {
				.wrap {
					article {
						table {
							tbody {
								> tr {
									height: 0;
								}
								tr:nth-of-type(2) td:first-child,
								tr:nth-of-type(3) td:first-child,
								tr:nth-of-type(4) td:first-child,
								tr:nth-of-type(5) td:first-child,
								tr:nth-of-type(6) td:first-child,
								tr:nth-of-type(7) td:first-child,
								tr:nth-of-type(8) td:first-child,
								tr:nth-of-type(9) td:first-child {
									font-size: 12px;
								}
								tr:nth-of-type(2) td:nth-of-type(2),
								tr:nth-of-type(3) td:nth-of-type(2),
								tr:nth-of-type(4) td:nth-of-type(2),
								tr:nth-of-type(5) td:nth-of-type(2),
								tr:nth-of-type(6) td:nth-of-type(2),
								tr:nth-of-type(7) td:nth-of-type(2),
								tr:nth-of-type(8) td:nth-of-type(2),
								tr:nth-of-type(9) td:nth-of-type(2) {
									padding: 20px 15px;
								}
								tr:nth-of-type(2) td:nth-of-type(3),
								tr:nth-of-type(3) td:nth-of-type(3),
								tr:nth-of-type(4) td:nth-of-type(3),
								tr:nth-of-type(5) td:nth-of-type(3),
								tr:nth-of-type(6) td:nth-of-type(3),
								tr:nth-of-type(7) td:nth-of-type(3),
								tr:nth-of-type(8) td:nth-of-type(3),
								tr:nth-of-type(9) td:nth-of-type(3) {
									padding: 0;
								}
								tr:nth-of-type(2) td:last-child,
								tr:nth-of-type(3) td:last-child,
								tr:nth-of-type(4) td:last-child,
								tr:nth-of-type(5) td:last-child,
								tr:nth-of-type(6) td:last-child,
								tr:nth-of-type(7) td:last-child,
								tr:nth-of-type(8) td:last-child,
								tr:nth-of-type(9) td:last-child {
									padding: 0 10px;
								}
							}
							th {
								font-size: 15px;
								&:nth-of-type(2) {
									padding: 10px 0;
									width: 26%;
								}
								&:nth-of-type(3),
								&:nth-of-type(4) {
									width: 12%;
								}
							}
						}
					}
				}
			}
		}
	}
}
