* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: $basicFontColor;
}
input[type='radio'] {
	appearance: none;
}
body {
	height: 100%;
	color: $basicFontColor;
	width: 100%;
	&.hidden {
		overflow: hidden;
	}
	&.on {
		#header {
			.inner {
				.menuWeb {
					#gnb {
						> li {
							> a {
								&::after {
									content: '';
									display: block;
									position: absolute;
									bottom: 0;
									left: 0;
									width: 100%;
									height: 2px;
									transition: width 0.5s;
									background: $mainBg;
								}
							}
						}
					}
				}
			}
		}
	}
}
.hidden {
	position: absolute;
	top: -9999px;
	opacity: 0;
}
table {
	border-collapse: collapse;
}

.bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: 1s;
	background: rgba(0, 0, 0, 0.5);
}
