#sub_header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	.inner {
		@include innerWid;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> h1 {
			font-family: $titleFont;
			height: 100%;
			> a {
				display: block;
				font-size: 25px;
				letter-spacing: 1px;
				line-height: 1;
				color: #333;
			}
		}
		.menuWeb {
			display: flex;
			align-items: center;
			#gnb {
				display: flex;
				align-items: center;
				height: 100%;
				> li {
					height: 60px;
					line-height: 60px;
					margin-left: 40px;
					&:hover:nth-of-type(1) .sub_menu {
						display: block;
						padding-right: 517px;
					}
					&:hover:nth-of-type(2) .sub_menu {
						display: block;
						padding-right: 491px;
					}
					&:hover:nth-of-type(3) .sub_menu {
						display: block;
						padding-right: 356px;
					}
					&:hover:nth-of-type(4) .sub_menu {
						display: block;
						padding-right: 275px;
					}
					&:hover:nth-of-type(5) .sub_menu {
						display: block;
						padding-right: 141px;
					}
					&:hover:nth-of-type(6) .sub_menu {
						display: block;
					}
					> a {
						display: block;
						position: relative;
						letter-spacing: 1px;
						text-align: center;
						color: #333;
						position: relative;
						font: bold 15px/60px $contentFont;
						&::after {
							content: '';
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0%;
							height: 2px;
							transition: width 0.5s;
							background: #333;
						}
						&:hover {
							opacity: 1;
						}
						&:hover::after {
							width: 100%;
						}
						&.on {
							&::after {
								content: '';
								display: block;
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 2px;
								transition: width 0.5s;
								background: #333;
							}
						}
					}
					> .sub_menu {
						display: none;
						position: absolute;
						right: 0;
						&:last-child {
							> ul {
								> li:last-child {
									margin-right: 0;
									a:last-child {
										padding: 10px 0 10px;
									}
								}
							}
						}
						&:hover {
							display: block;
						}
						> ul {
							display: flex;
							> li {
								margin-right: 15px;
								> a {
									padding: 10px;
									text-align: center;
									letter-spacing: 1px;
									color: #fff;
									width: 150px;
									&:hover {
										color: $strongColor;
									}
								}
							}
						}
					}
				}
			}
		}
		.menuMo {
			display: none;
			position: fixed;
			top: 0;
			left: -350px;
			width: 350px;
			height: 100vh;
			transition: left 1s;
			transform-origin: bottom left;
			background: #e7ded7;
			&.on {
				left: 0;
			}
			> ul.sub_menu {
				height: 100%;
				padding: 100px 30px;
				> li {
					position: relative;
					margin-bottom: 10px;
					&:first-child {
						.tab {
							border-top: none;
						}
					}
					&:last-child {
						.tab {
							> h3 {
								margin-bottom: 15px;
							}
						}
					}
					.tab {
						position: relative;
						border-top: 1px solid #777;
						&:hover label::after {
							color: #333;
						}
						h3 {
							font-family: $contentFont;
							font-size: 20px;
							letter-spacing: 1px;
							color: #777;
							&.on {
								color: #a06138;
							}
						}
						> ul {
							li {
								margin-bottom: 20px;
							}
						}
						input[type='radio'] {
							appearance: none;
							&:checked ~ .inputUl {
								max-height: 100vh;
								padding: 20px 0 0 20px;
								&.on {
									max-height: 0;
									padding: 0;
								}
								li {
									margin-bottom: 10px;
									&:last-child {
										margin-bottom: 0;
									}
								}
							}
							&:checked + label a.arrow {
								&.on {
									transform: translate(13px, 11px) rotate(180deg);
								}
							}
						}
						label {
							cursor: pointer;
							> a.arrow {
								position: absolute;
								top: 25px;
								right: 17px;
								transition: transform 1s;
								&::before {
									content: '';
									display: block;
									position: absolute;
									top: 7px;
									left: 0;
									width: 8px;
									height: 1px;
									background: #222;
									transform: rotate(45deg);
								}
								&::after {
									content: '';
									display: block;
									position: absolute;
									top: 7px;
									left: 0;
									width: 8px;
									height: 1px;
									background: #222;
									transform: translateX(5px) rotate(-45deg);
								}
								> span.hidden {
									position: absolute;
									top: -9999px;
								}
							}
						}
						> ul {
							max-height: 0;
							transition: 1s;
							overflow: hidden;
						}
					}

					a {
						display: block;
						font-size: 20px;
						font-family: $contentFont;
						color: $basicFontColor;
						&:hover {
							font-weight: bold;
						}
					}
				}
			}
			.loginBox {
				display: flex;
				position: relative;
				align-items: center;
				justify-content: space-between;
				width: 350px;
				padding: 20px;
				border-bottom: 1px solid #aaa;
				.loginTxt {
					display: flex;
					align-items: center;
					span {
						display: block;
						margin-left: 10px;
						font-size: 16px;
					}
				}

				i {
					font-size: 20px;
				}
				.loginBtn {
					display: block;
					width: 100px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					border-radius: 30px;
					border: 1px solid #fff;
				}
			}
			.joinBox {
				font-size: 14px;
				font-family: $contentFont;
				.login {
					border-right: 1px solid #222;
					padding-right: 6px;
					color: $basicFontColor;
					cursor: default;
				}
				.join {
					padding-left: 4px;
					font-family: 'Noto Sans KR', sans-serif;
					color: $basicFontColor;
					cursor: default;
				}
			}
			.closeBox {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				.close {
					display: block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: #a06138;
					&::before {
						content: '';
						display: block;
						width: 10px;
						height: 1px;
						background: #fff;
						transform: translate(5px, 9px) rotate(45deg);
					}
					&::after {
						content: '';
						display: block;
						width: 10px;
						height: 1px;
						background: #fff;
						transform: translate(5px, 8px) rotate(-45deg);
					}
				}
			}
		}
		.quick_menu {
			position: absolute;
			top: 30px;
			right: 60px;
			display: none;
			.bars {
				display: block;
				position: absolute;
				width: 30px;
				height: 25px;
				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 18px;
					left: 0;
					width: 19px;
					height: 2px;
					background: #777;
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 9px;
					left: 0;
					width: 100%;
					height: 2px;
					background: #777;
				}
				span {
					display: block;
					width: 19px;
					height: 2px;
					background: #777;
					transform-origin: top right;
				}
			}
		}
	}
}
.com {
	width: 100%;
	background: #f8f5f0;
	.sub_Visual {
		position: relative;
		width: 100%;
		.visual_box {
			filter: saturate(30%) brightness(90%);
			height: 600px;
			width: 100%;
			&:hover {
				filter: saturate(100%) brightness(100%);
				transition: 1s;
			}
			.inner {
				@include innerWid;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 180px 0 0;
				.title_txt {
					z-index: 1;
					color: #fff;
					h1 {
						font-size: 90px;
						position: relative;
						line-height: 1;
						margin-top: 150px;
						font-weight: 400;
						text-align: left;
						margin-bottom: 10px;
						color: #666;
						font-family: $titleFont;
					}
					p {
						position: relative;
						color: #666;
						font-size: 20px;
						font-family: $contentFont;
					}
				}
			}
		}
	}
	.sub_con {
		background: $basicColor2;
		> .inner {
			@include innerWid;
			display: flex;
			justify-content: space-between;
			padding: 120px 0;
			color: #333;
			position: relative;
			> h1 {
				font-size: 50px;
				margin-bottom: 30px;
				letter-spacing: 2px;
			}
		}
	}
}

#sub_footer {
	width: 100%;
	background: $basicColor2;
	padding-top: 50px;
	padding: 50px;
	border-top: 1px solid #ddd;
	.inner {
		width: 100%;
		.wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			padding: 0 0 120px;
			article {
				h1 {
					font: bold 16px/1 $titleFont;
				}
				p {
					padding: 20px 0;
					font: bold 14px/1.5 $contentFont;
					color: #888;
				}
				a {
					display: block;
					color: #888;
					font: bold 13px/1 $contentFont;
					.svg-inline--fa {
						font-size: 16px;
						color: #888;
						margin-right: 10px;
						vertical-align: text-top;
					}
				}
				span {
					display: block;
					letter-spacing: 1px;
					color: #666;
					font-family: $contentFont;
					font-weight: 500;
				}
				&:nth-of-type(2) {
					width: 20%;
					input {
						background: transparent;
						border-bottom: 1px solid #888;
						width: 100%;
						padding: 10px 0;
						&::placeholder {
							font: bold 12px/1 $contentFont;
						}
					}
				}
				&:nth-of-type(3) {
					a {
						padding: 5px 0;
					}
				}
			}
		}
		.top {
			display: block;
			position: fixed;
			bottom: 50px;
			right: 50px;
			width: 50px;
			height: 50px;
			line-height: 60px;
			text-align: center;
			opacity: 0;
			transition: opacity 1s;
			background: #fff;
			box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px,
				rgba(0, 0, 0, 0.22) 0px 4px 20px;
			border-radius: 15px;
			&.on {
				opacity: 1;
			}
			i.fa-chevron-up {
				font-size: 30px;
				color: $strongColor;
				border-width: 1px;
			}
		}
	}
	.ft_txt {
		.desc {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 50px;
			border-top: 1px solid #888;
			padding-top: 30px;
			font: 14px/1 $contentFont;
			letter-spacing: 0.5px;
			color: #888;
			line-height: 1.5;
			.sns {
				color: #888;
			}
			span {
				display: block;
			}
			> p {
				width: 60%;
				line-height: 1.5;
				word-break: keep-all;
			}
		}
	}
}

//tablet
@media screen and (max-width: $tablet) {
	//header
	#sub_header {
		.inner {
			width: 100%;
			&.on {
				width: 100%;
				position: fixed;
				top: -100%;
				left: 0;
				height: 50px;
				background: #ffffff4d;
				transition: top 1.5s;
			}
			> h1 {
				position: absolute;
				top: 30px;
				left: 50px;
				a {
					color: #333;
				}
			}
			.menuWeb {
				display: none;
				#gnb {
					li {
						margin-right: 20px;
						> a {
							padding: 0 30px;
						}
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
			.menuMo {
				display: block;
				width: auto;
				> ul.sub_menu {
					> li {
						a {
							font-size: 14px;
						}
					}
				}
				&.on {
					left: 0;
				}
			}
			.quick_menu {
				display: block;
				right: 55px;
				.bars {
					display: flex;
					span {
						background: #333;
					}
					&::before,
					&::after {
						background: #333;
					}
				}
			}
		}
	}

	.com {
		width: 100%;
		.sub_Visual {
			.visual_box {
				.inner {
					width: 100%;
					padding: 180px 0 0 50px;
					.title_txt {
						h1 {
							// font-size: 15vmin;
						}
						p {
							font-size: 3vmin;
						}
					}
				}
			}
		}
		.sub_con {
			> .inner {
				width: 100%;
				padding: 80px 50px;
			}
		}
	}

	//footer
	#sub_footer {
		.inner {
			width: 100%;
			.wrap {
				flex-direction: column;
				padding: 0;
				article {
					margin-bottom: 80px;
					&:nth-of-type(2) {
						width: 40%;
					}
				}
			}
			.ft_txt {
				.desc {
					flex-direction: column;
					.sns {
						margin-bottom: 30px;
					}
					span {
						margin-bottom: 30px;
						font: 13px/1.5 $contentFont;
					}
					> p {
						width: 100%;
						margin-bottom: 30px;
						font: 13px/1.5 $contentFont;
					}
				}
			}
		}
	}
}

//mobile
@media screen and (max-width: $mobile) {
	//header
	#sub_header {
		.inner {
			> h1 {
				left: 30px;
			}
			.menuMo {
				.loginBox {
					width: 100%;
				}
				&.on {
					width: 70%;
				}
			}
		}
	}

	.com {
		width: 100%;
		.sub_Visual {
			.visual_box {
				.inner {
					width: 100%;
					.title_txt {
						> h1 {
							font-size: 16vmin;
						}
						p {
							font-size: 5vmin;
						}
					}
				}
			}
		}
		.sub_con {
			> .inner {
				width: 100%;
				padding: 80px 30px;
			}
		}
	}

	//footer
	#sub_footer {
		padding: 50px 30px;
		.inner {
			.wrap {
				article {
					margin-bottom: 50px;
					&:nth-of-type(2) {
						width: 100%;
						input {
							width: 100%;
							&::placeholder {
								font: bold 14px/1 $contentFont;
							}
						}
					}
					h1 {
						font: bold 14px/1 $titleFont;
					}
					p {
						font: bold 13px/1.5 $contentFont;
					}
					a {
						font: bold 13px/1 $contentFont;
					}
				}
			}
			.top {
				display: none;
			}
		}
		.ft_txt {
			.desc {
				flex-direction: column;
				.sns {
					margin-bottom: 30px;
				}
				span {
					margin-bottom: 30px;
				}
				> p {
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}
	}
}
