.youtube {
	.visual_box {
		position: relative;
		background: url('../img/sub/visual/brand.jpg') no-repeat center/cover;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.sub_con {
		.inner {
			display: block;
			opacity: 1;
			> h1 {
				margin-bottom: 50px;
			}
			.vids {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: flex-start;
				padding-bottom: 80px;
				article {
					width: 100%;
					height: 100%;
					margin-bottom: 20px;
					display: flex;
					border-top: 1px solid #333;
					padding-top: 20px;
					&:nth-of-type(odd) {
						flex-direction: row-reverse;
					}
					&:nth-of-type(even) {
						.con {
							margin-left: 70px;
							margin-right: 0;
						}
					}
					.pic {
						display: block;
						width: 68%;
						height: 260px;
						filter: saturate(30%) brightness(90%);
						transition: 0.5s;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						&:hover {
							filter: saturate(100%) brightness(100%);
						}
					}
					.con {
						width: 60%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						margin-right: 70px;
						h2 {
							font-size: 20px;
							font-family: $titleFont;
						}
						p {
							font-size: 18px;
							font-weight: 300;
							line-height: 1.5;
							font-family: $titleFont;
							margin-bottom: 20px;
							word-break: keep-all;
						}
						span {
							font-size: 15px;
							display: block;
							color: #333;
							font-weight: bold;
							padding-top: 10px;
							font-family: $contentFont;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}

figure.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	transition: 0.5s;
	overflow: hidden;
	padding: 9vw;
	z-index: 2;
	.iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;
		padding-bottom: 56.25%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.closeBtn {
		position: absolute;
		top: 0;
		right: -50px;
		cursor: pointer;
		display: block;
		opacity: 0.7;
		i {
			font-size: 35px;
			color: #fff;
		}
	}
}

//mobile
@media screen and (max-width: $mobile) {
	.youtube {
		.sub_con {
			.inner {
				.vids {
					article {
						width: 100%;
						flex-direction: column-reverse;
						&:nth-of-type(odd) {
							flex-direction: column-reverse;
						}
						&:nth-of-type(even) {
							.con {
								margin-left: 0;
								margin-right: 0;
							}
						}
						.pic {
							width: 100%;
						}
						.con {
							width: 100%;
							h2 {
								font-size: 20px;
								margin-bottom: 20px;
							}
							.subTxt {
								span {
									font-size: 16px;
								}
								p {
									font-size: 14px;
									line-height: 1.3;
								}
							}
						}
					}
				}
			}
		}
	}
	figure.popup {
		.closeBtn {
			top: -130px;
			right: 44%;
			i {
				font-size: 50px;
			}
		}
	}
}
